#root {
  max-width: 100%;
  padding: 0px;
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Main Styling */
.container {
  padding: 20px;
  background: linear-gradient(to bottom, #e4bfc6, #42353a);
}

.homeImg {
  max-width: 80vw; 
  height: auto;
  margin: 0 auto 5vh; 
  display: block; 
  border-radius: 10px; 
}

/* .photo {

} */

.nameTitle h1 {
  color:#e4bfc6;
  text-align: center;
  font-size: 48px;
}

.nameTitle h3 {
  color:#fff;
  text-align: center;
  font-size: 28px;
}

.paragraph, .homeContact {
  color:#fff;
  text-align: center;
  font-size: 21px;
}

.homeContact {
  margin-top: 3rem;
}

.homeContact a {
  text-decoration: none;
  color: #fff;
}

.homeContact a:hover {
  color: #e4bfc6;
  cursor: pointer;
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #42353a;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.burgerBox {
  border: solid #e4bfc6 2px;
  padding: 5px;
  border-radius: 10px;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle.active .bar:first-child {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: #e4bfc6;
  margin: 3px 0;
}

.nav-links {
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #42353a;
}

.nav-links.open {
  display: flex;
  justify-content: center;
  padding: 0;
  justify-content: space-evenly; 
  flex-wrap: wrap;
  position: absolute;
  top: 70px;
  right: 1rem;
  background-color: #42353a;
  z-index: 10;
}

.nav-links li {
  margin: 0.5rem 0;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}

/* Footer Styling */
.footer-container {
  background-color: #42353a;
  padding: 20px;
  text-align: center;
}

.footer-container a {
  color: #e4bfc6;
  margin: 0 10px;
}

.footer-container a:hover {
  color:#fff;
  cursor: pointer;
}