#root {
  max-width: 100%;
  padding: 0px;
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}

/* Main Styling */
body {
  margin: 0;
}

.container {
  padding: 20px;
  background: linear-gradient(to bottom, #e4bfc6, #42353a);
}

.homeImg {
  max-width: 70vw;
  height: auto;
  margin: 0 auto 5vh;
  display: block;
  border: 2px solid #42353a;
  border-radius: 10px;
}

.photoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.photo {
  width: 10rem;
  height: auto;
  border-radius: 15%;
  margin-bottom: 20px;
  border: 2px solid #42353a;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.nameTitle h1 {
  color: #e4bfc6;
  text-align: center;
  font-size: 48px;
}

.nameTitle h3 {
  color: #fff;
  text-align: center;
  font-size: 28px;
}

.paragraph,
.homeContact {
  color: #fff;
  text-align: center;
  font-size: 21px;
}

.homeContact {
  margin-top: 3rem;
}

.homeContact a {
  text-decoration: none;
  color: #fff;
}

.homeContact a:hover {
  color: #e4bfc6;
  cursor: pointer;
}

/* Portfolio Styling */
.portImg {
  width: 100%;
  height: auto;
  border: 2px solid #42353a;
  border-radius: 10px;
  margin-bottom: 20px;
}

.portIntro h1 {
  color: #42353a;
  font-size: 48px;
  text-align: center;
  margin-bottom: 2rem;
}

.portIntro p {
  margin-bottom: 3rem;
}

.portCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 25rem;
  margin-bottom: 20px;
  position: relative;
}

.cardImage {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.hoverInfo {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #42353a;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.hoverInfo:hover {
  opacity: 1;
}

.cardTitle {
  color: #e4bfc6;
  font-size: 2.5rem;
  text-align: center;
  text-decoration: none;
}

.cardTitle:hover {
  color: #fff;
}

.repoLink {
  color: #fff;
  font-size: 3rem;
}

.repoLink:hover {
  color: #e4bfc6;
}

.cardSubtitle {
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
}

@media (max-width: 768px) {
  .card {
    width: 20rem;
  }

  .cardImage {
    width: 100%;
  }
}

/* Contact Styling */
/* Contact Info */
.contactContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  background: linear-gradient(to bottom, #e4bfc6, #42353a);
}

.contactContainer img {
  width: 100%;
  height: auto;
  border: 2px solid #42353a;
  border-radius: 10px;
  margin-bottom: 20px;
}

.contactInfo,
.contactForm {
  width: 100%;
  z-index: 2;
}

.contactIntro h3 {
  color: #42353a;
  font-size: 26px;
  margin: 0 0 0.5rem 0;
}

.contactIntro h1 {
  color: #0d0d0e;
  font-size: 48px;
  margin: 0;
}

.contactIntro p,
.location p,
.hours table {
  color: #fff;
  font-size: 21px;
  margin: 1rem 0;
}

.icon {
  color: #42353a;
}

.location h5,
.hours h5 {
  color: #0d0d0e;
  font-size: 25px;
  margin: 0;
}

/* Contact Form */
.contactForm {
  margin-top: 3rem;
}

.contactForm form {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 2px solid #42353a;
  border-radius: 5px;
}

.contactForm form .form-group {
  margin: 2rem;
}

.contactForm form label {
  display: block;
  font-weight: bold;
  color: #42353a;
}

.contactForm form input[type="text"],
.contactForm form input[type="email"],
.contactForm form input[type="tel"],
.contactForm form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #42353a;
  border-radius: 4px;
}

.contactForm form textarea {
  min-height: 150px;
}

.contactForm form p {
  font-size: 14px;
  color: #e4bfc6;
  margin-top: 10px;
}

.contactForm form button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #747579;
  color: #0d0d0e;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactForm form button[type="submit"]:hover {
  background-color: #e4bfc6;
}

@media screen and (min-width: 990px) {

  .contactInfo,
  .contactForm {
    width: 50%;
  }
}

/* Resume Styling */
.resumeContainer {
  padding: 20px;
  background: linear-gradient(to bottom, #e4bfc6, #42353a);
  text-align: center;
}

.resumeContainer h1 {
  color: #42353a;
  font-size: 48px;
  margin: 32px 0 0 0;
}

.jumpTo {
  color: #42353a;
}

.jumpTo a {
  text-decoration: none;
  color: #42353a;
}

.jumpTo a:hover {
  color: #fff;
}

.download {
  color: #42353a;
}

.download a {
  text-decoration: none;
  color: #42353a;
}

.download a:hover {
  color: #fff;
}

.resume {
  margin-top: 30px;
  text-align: center;
}

.resume h3 {
  color: #42353a;
  font-size: 34px;
  margin: 20px 0 10px;
}

.resume ul {
  list-style: none;
  padding: 0;
}

.resumeContainer .accordion-button {
  width: 90%; 
  margin: 10px auto; 
  padding: 10px 20px;
  background-color: #42353a; 
  color: #e4bfc6; 
  font-family: "Architects Daughter"; 
  font-size: 24px; 
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.resumeContainer .accordion-button:hover {
  background-color: #e4bfc6; 
  color: #42353a; 
}

.resumeContainer .accordion-button:focus {
  outline: none; 
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); 
}

#skills ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

#skills ul li {
  padding: 15px 20px;
  font-size: 21px;
  color: #0d0d0e;
  background-color: #cccdd1;
  border: 2px solid #747579;
  border-radius: 5px;
}

#experience ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

#experience ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #cccdd1;
  border: 2px solid #747579;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 19px;
  color: #0d0d0e;
}

#experience h4 {
  font-size: 24px;
  margin: 2rem 0 0 0;
}

#experience p {
  font-size: 21px;
  color: #0d0d0e;
  margin: 0;
}

#education h3,
dl,
p {
  color: #e4bfc6;
}

#education dl dt {
  font-size: 25px;
}

#education dl dd {
  font-size: 18px;
}

#education p {
  margin-top: 3rem;
}

#education a {
  text-decoration: none;
  color: #e4bfc6;
}

#education a:hover {
  color: #fff;
}

@media screen and (max-width: 768px) {
  #skills ul {
    grid-template-columns: repeat(2, 1fr);
  }

  #experience ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Navbar Styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #42353a;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.burgerBox {
  border: solid #e4bfc6 2px;
  padding: 5px;
  border-radius: 10px;
}

.menu-toggle {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle.active .bar:first-child {
  transform: translateY(8px) rotate(45deg);
}

.menu-toggle.active .bar:last-child {
  transform: translateY(-8px) rotate(-45deg);
}

.menu-toggle.active .bar:nth-child(2) {
  opacity: 0;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: #e4bfc6;
  margin: 3px 0;
}

.nav-links {
  list-style: none;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #42353a;
}

.nav-links.open {
  display: flex;
  justify-content: center;
  padding: 0;
  justify-content: space-evenly;
  flex-wrap: wrap;
  position: absolute;
  top: 70px;
  right: 1rem;
  background-color: #42353a;
  z-index: 10;
}

.nav-links li {
  margin: 0.5rem 0;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  padding: 0.5rem;
}

.nav-links li a:hover {
  color: #e4bfc6;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
}

/* Footer Styling */
.footer-container {
  background-color: #42353a;
  padding: 20px;
  text-align: center;
}

.footer-container a {
  color: #e4bfc6;
  margin: 0 10px;
}

.footer-container a:hover {
  color: #fff;
  cursor: pointer;
}